<%- include("./includes/head", { pageTitle: "An Error Occurred" }) %>
</head>
<body>
    <%- include("./includes/header") %>
    <main>
        <h1>Something went wrong!</h1>
        <p>Unfortunately, something went wrong - please try again later.</p>
        <p><a href="/" class="btn">Back to safety</a></p>
    </main>
<%- include("./includes/footer") %>