body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(31, 30, 30);
}

h1 {
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form {
    width: 30rem;
    padding: 1rem;
    margin: 3rem auto;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}

label {
    margin-bottom: 0.5rem;
    display: block;
}

input,
textarea,
select {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 1px solid rgb(184, 184, 184);
    padding: 0.25rem;
    color: rgb(61, 58, 58);
}

input:focus,
textarea:focus {
    background-color: rgb(219, 190, 253);
    color: rgb(32, 5, 63);
    border-color: rgb(32, 5, 63);
}

textarea {
    resize: none;
}

button {
    display: block;
    /* font: normal 1rem "Roboto", sans-serif; */
    font: inherit;
    background-color: rgb(32, 5, 63);
    color: white;
    border: 1px solid rgb(32, 5, 63);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(52, 14, 95);
    border-color: rgb(52, 14, 95);
}

#buttons {
    display: flex;
    justify-content: space-between;
}

.form-control-inline {
    display: flex;
}

.form-control-inline input {
    width: auto;
    margin: 0.5rem;
}
