<%- include("../../shared/includes/head", { pageTitle: "Signup" }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include("../../shared/includes/header") %>
    <main>
        <h1>Create New Account</h1>
        <form action="/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
            <p>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </p>
            <p>
                <label for="confirmEmail">Confirm Email</label>
                <input type="email" name="confirmEmail" id="confirmEmail" required>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" minlength="6" required>
            </p>
            <hr>
            <p>
                <label for="fullName">Full Name</label>
                <input type="text" name="fullName" id="fullName" required>
            </p>
            <p>
                <label for="street">Street</label>
                <input type="text" name="street" id="street" required>
            </p>
            <p>
                <label for="postal">Postal</label>
                <input type="text" name="postal" id="postal" minlength="5" maxlength="5" required>
            </p>
            <p>
                <label for="city">City</label>
                <input type="text" name="city" id="city" required>
            </p>
            <button class="btn">Create Account</button>
            <p id="switch-form"><a href="/login">Login instead</a></p>
        </form>
    </main>
<%- include("../../shared/includes/footer") %>